.container {
  display: flex;
}

.sidebar {
  width: 200px;
  height: 500px;
  background-color: lightgreen;
  a  {
    display: block;
  }
}

.tab {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: lightblue;
}
