.code-block {
  margin: 16px 0;
  border: 1px solid #e5e6eb;

  & &-previewer {
    padding: 24px;
    border-bottom: 1px dashed #e5e6eb;
  }

  & &-operations {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & &-source {
    white-space: pre;
    border-top: 1px solid #e5e6eb;
    background-color: #f7f8fa;
    &:not(.visible) {
      height: 0;
      overflow: hidden;
      border-top: none;
    }
    &.visible {
      height: auto;
    }

    .markdown-body {
      padding: 24px;
      margin: 0;
      max-width: auto;
      pre {
        margin: 0;
        code {
          padding: 0;
          background-color: #f7f8fa;
        }
      }
    }
  }
}
