.component-sidebar {
  width: 100%;
  color: #7b8794;
  height: 100%;
  padding: 0 8px;
  overflow-y: auto;

  &-category {
    line-height: 40px;
    border-bottom: 1px solid #ebedf0;
    margin: 0 24px;
    margin-top: 16px;
  }

  &-components {
    display: block;
    line-height: 40px;
    padding: 0 24px;
    border-radius: 2px;
    cursor: pointer;
    color: #383f47;

    &:hover {
      background: #edf9ff;
    }
  }

  &-active &-components {
    color: #0088ce;
  }
}
