.api-doc {
  &-markdown {
    display: flex;
    padding: 24px;
    &-content {
      margin: 0 auto;
      width: 800px;
    }
    &-toc {
      padding-left: 40px;
      width: 160px;
      &-1 {
        padding-left: 0;
      }
      &-2 {
        padding-left: 0px;
      }
      &-3 {
        padding-left: 16px;
      }
    }
  }
}
