.markdown-body {
  ul {
    list-style: dot;
    margin-left: 20px;
  }

  blockquote {
    margin: 0;
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
  }

  code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
  }

  h2,
  h3 {
    margin: 48px 0 16px;
  }
}
