$header-height: 64px;
$sidebar-width: 260px;

.layout {
  height: 100%;
  width: 100%;
  &-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: $header-height;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e6e8;
    background-color: #fff;
  }

  &-container {
    box-sizing: border-box;
    margin-top: $header-height;
    width: 100%;
    display: flex;
    background-color: #fff;
  }

  &-sidebar {
    height: calc(100% - $header-height);
    width: $sidebar-width;
    background-color: #fff;
    overflow: hidden;
    &-content {
      position: fixed;
      left: 0;
      bottom: 0;
      top: $header-height;
      z-index: 1000;
      width: $sidebar-width;
      border-right: 1px solid #ebedf0;
    }
  }

  &-main {
    flex: 1;
    overflow: hidden;
    min-width: 0;
  }
}
