.account {
  box-sizing: border-box;
  background-color: #fff;
  padding: 108px 170px;
  border-radius: 4px;
  min-height: calc(100vh - 188px);

  &-section {
    margin-bottom: 32px;

    h2 {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      position: relative;
      &::before {
        display: block;
        content: ' ';
        position: absolute;
        top: 4px;
        bottom: 4px;
        left: -10px;
        width: 2px;
        opacity: 0.8;
        background-color: #165dff;
      }
    }
  }

  &-user {
    box-sizing: border-box;
    padding: 24px;
    height: 112px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    &-bg {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    &-avatar {
      display: flex;
      align-items: center;
      cursor: pointer;
      z-index: 1;
    }

    &-info {
      margin-left: 16px;
      &-nickname {
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 8px;
      }
    }
  }

  &-other {
    border: 1px solid #e5e6eb;
    border-radius: 4px;
    padding: 24px;
  }
}
