.version-changelog-list {
  background: #ffffff;
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 24px;
  &-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }

  &-time {
    margin-top: 8px;
    display: block;
    font-size: 12px;
  }

  &-item {
    margin-top: 24px;
    &-title {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
    }

    ul li {
      list-style: none;
      margin-left: 0px;
      margin-top: 12px;
    }
  }
}
